.pagetemplate-custom {
  max-width: 1800px;
}

.small {
  font-size: small;
}

.hidden {
  display:  none;
}

.pagetemplate-sign { 
  display: none; 
}

.pagetemplate-custom {
  margin-top: 20px;
}

.logo-image {
  width: 100%;
  /* max-width: 250px; */
}

.no-margin {
  margin: 0;
}

.gallery-item {
  width: 250px;
  min-height: 365px;
}

.gallery-item img {
  object-fit: cover;
  max-width: 250px;
  max-height: 250px;
}

.component-news-half,
.widget-simpletext,
.article-full {
  text-align: left;
}

.article-full h1 {
  padding: 0 24px;
}

.article-cover-outer {
  background-color: darkgray;
  width: 100%;  
}

.article-cover-inner {
  background-color: lightgrey;
  text-align: center; 
}

.article-full img {
  object-fit: scale-down;
  max-width: 250px;
  margin: 10px;
}

.news-meta {
  white-space: normal;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  width:  80%;
}

.news-padding {
  padding: 0 16px;  
}

.news-item a:link,
.news-item a:hover {
  text-decoration: none;
}

.news-item img {
  max-height: 70px;
}

.debug-info {
  position: absolute;
}

.debug-info-button {
  position: relative;
}

.debug-info-details {
  /* position: relative; */
  background-color:white;
  border: 1px;
  border-color: black;
  border-style: double;
  padding-right: 40px;
}

.related-link-meta {
  white-space: normal;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.related-link-icon {
  padding-right: 5px;
}