p {
  margin-top: 0;
  margin-bottom: 5px;
}


.pagetemplate-custom {
  max-width: 1800px;
}

.small {
  font-size: small;
}

.italic {
  font-style: italic;
}

.hidden {
  display:  none;
}

.pagetemplate-sign { 
  display: none; 
}

.pagetemplate-custom {
  margin-top: 20px;
}

.layout-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

@media screen and (max-width: 1024px) {
  .layout-container {
    flex-direction: column;
  }
}

.layout-middle {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

.logo-image {
  width: 100%;
  /* max-width: 250px; */
}

.banner-wrapper {
  margin: 15px 0;
}

.banner-image {
  width: 70%;
}

.no-margin {
  margin: 0;
}

/* @media (min-width: 767px) { */
  .gallery-item {
    max-width: 250px;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
  }
/* } */

.gallery-item div:not(.gallery-item):not(.lazyload-wrapper) {
  height: 100%;
}

.gallery-item img {
  object-fit: cover;
  width: 185px;
  height: 250px;
}

.component-news-half,
.widget-simpletext,
.article-full {
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.article-full h1 {
  padding: 0 24px;
}

.article-full h2 {
  padding: 0 24px;  
  margin-top: -20px;
  font-size: 25px;
  color: gray;
}

.article-cover-outer {
  background-color: darkgray;
  width: 94%;
  margin: 0 24px;
}

.article-cover-inner {
  background-color: lightgrey;
  text-align: center; 
}

.article-full img {
  object-fit: scale-down;
  max-width: 250px;
  margin: 10px;
}

.news-meta {
  width: 80%;
  white-space: normal;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  /* width:  80%; */
}

.news-meta .title {
  margin-bottom:5px;
}

.news-padding {
  padding: 0 16px;
  display: flex;
}

.news-padding > div {
  width: 100%;
}

.news-cards {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.news-item a:link,
.news-item a:hover {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.news-item .news-image {
  width: 20%;
}

.news-item img {
  max-height: 70px;
}

.debug-info {
  position: absolute;
}

.debug-info-button {
  position: relative;
}

.debug-info-details {
  /* position: relative; */
  background-color:white;
  border: 1px;
  border-color: black;
  border-style: double;
  padding-right: 40px;
}

.related-link-meta {
  white-space: normal;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.related-link-icon {
  padding-right: 5px;
}

.read-direction-icon {
  padding-left: 5px;
}

.lazy-load-news-item {
  width: 100%;
  min-height: 100px;
}

/* review list */
.review-cards {
  display: flex;
  flex-wrap: wrap;  
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;  
}

.news-container {
  display: flex;
  /* justify-content: space-between; */
  padding-top: 15px;
}

/* start of sidemenu */
.sidemenu-link {
  margin: 15px 0;
}
.sidemenu-icons-wrapper {
  margin: 15px 0;
}
/* end of sidemenu */