.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.w3-content-custom {
  max-width:1400px;
  margin-top:80px
}

.w3-dropdown-content-custom {
  width:300px
}

.w3-circle-custom {
  height:23px;
  width:23px
}

.w3-circle-avatar {
  width:60px
}

.w3-circle-side-avatar {
  height:106px;width:106px
}

.w3-row-padding-custom {
  margin:0 -16px
}

.full-width {
  width:100%
} 

.half-width {
    width:50%
}

.side-menu-uppercase {
  text-transform: uppercase;
}

.side-menu-link { 
  text-decoration: none; 
}